<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .body-wrapper {
            min-height: 100vh;
        }

        .quote {
            color: green;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/home">
            Project Manager
        </a>
        <form method="GET" action="/logout" class="form-inline">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </nav>
    <div class="container">

        <div class="card card-body mt-4">
            <div class="text-center">
                <button data-toggle="modal" data-target="#newProjectModal" class="btn btn-info">Add A Project</button>
            </div>


            <ul class="nav nav-tabs">
                {% if type == "active" %}
                <li class="nav-item">
                    <a class="nav-link active" href="/home/active">Active</a>
                </li>
                <li class="nav-item">
                    <a href="/home/completed" class="nav-link">Completed</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/home/active">Active</a>
                </li>
                <li class="nav-item">
                    <a href="/home/completed" class="nav-link active">Completed</a>
                </li>
                {% endif %}

            </ul>

            <!-- <p class="text-center text-muted my-2"> You don't have any projects right now, create one! </p> -->

            <div class="p-4">
                <ul class="list-group">
                    {% for entry in entries %}
                    <li class="list-group-item">
                        <div class="d-flex flex-row">
                            <div class="flex-grow-1">
                                {{ entry[0] }}
                                <p>{{ 'Complete' if entry['is_complete'] == 1 else 'Ongoing' }}
                                    <b>{{entry['contract_type']}}</b> project with {{ entry['contact_name']}} (<a
                                        href="mailto:{{ entry['contact_email']}}">{{ entry['contact_email']}}</a>) <br>
                                    <span class="quote"> Quoted at
                                        ${{ entry['quote_dollars'] }}.00</span> </p>


                            </div>
                            <div class="controls">
                                <button class="btn btn-outline-secondary">
                                    Mark {{ 'Complete' if entry['is_complete'] == 0 else 'Ongoing' }}
                                </button>
                                <button class="btn btn-outline-danger">
                                    Mark Delete
                                </button>
                            </div>

                        </div>
                    </li>
                    {% endfor %}


                </ul>
            </div>





        </div>



    </div>


    <div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProjectModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newProjectModalLabel">Add a New Project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- New project form -->
                    <form method="POST" action="/projects">
                        <div class="form-group">
                            <label for="contactEmailInput">Contact Email</label>
                            <input name="contact_email" required type="email" class="form-control"
                                id="contactEmailInput" placeholder="name@example.com">
                        </div>

                        <div class="form-group">
                            <label name="contact_name" for="contactName">Contact Name</label>
                            <input name="contact_name" required type="text" class="form-control" id="contactName">
                        </div>


                        <div class="form-group">
                            <label for="projectTypeSelect">Project Type</label>
                            <select name="contract_type" required class="form-control" id="projectTypeSelect">
                                <option value="milestone" selected>Milestone</option>
                                <option value="hourly">Hourly</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="projectQuoteInput">Cost Estimate</label>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="quote_dollars" required id="projectQuoteInput" type="number" step="1"
                                    class="form-control" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>


                        <div class="form-check">
                            <input name="is_complete" class="form-check-input" value="1" type="checkbox"
                                id="projectIsComplete">
                            <label class="form-check-label" for="projectIsComplete">
                                This project is complete
                            </label>
                        </div>


                        <div class="text-center mt-4">

                            <button type="submit" class="btn btn-secondary"> Add this project</button>
                        </div>


                    </form>



                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>